<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <label for="aa">
            <input type="radio" id="aa" value="男" v-model="checked"> 男
        </label>
        <label for="bb">
            <input type="radio" id="bb" value="女" v-model="checked"> 女
        </label>
        <h2>你所选择的是：{{checked}}</h2>
    </div>
    <script src="../vue.js"></script>
    <script>
        const test = new Vue({
            el: "#app",
            data: {
                checked: "男"
            }
        })
    </script>
</body>

</html>